* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}


.starships {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    /* İstenilen genişlik */
}

.card-link {
    text-decoration: none;
    color: #333;
}